*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* utilies */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

.w-25{
    width: 25%;
}
.w-50{
    width: 50%;
}
.left{
    float: left;
}
.right{
    float: right;
}
/* Content */
.conteiner{
    width: 60vw;
    margin: auto;
}
header{
  background-color: rgb(49, 97, 224);
}
.top-header{
    height: 80px;
    line-height: 80px;
} 

.top-header img{
    vertical-align: middle;
}

a{
    text-decoration: none;
}
.logo{
    display: inline-block;
}
.top-header .nav{
    display: inline-block;
    vertical-align:middle;
    text-align: center;
}
.top-header ul li{
    display: inline-block;
}
ul li a{
    color: white;
}
.top-header .btn{
    line-height: 0;
    margin-top: 37px;
    color: black;
    background-color: white;
    padding: 10px 16px;
    border-radius: 40px;
}
a:hover{
    text-decoration: underline;
}